.env
auth.json
.DS_Store
.push.settings.jsonc
.phpunit.result.cache
/.idea
/.vscode
/.openshift/secrets
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
consumed_messages/*
database/backups
gene_validity_raw*
google-sheets-api-credentials.json
kafka-auth/*
npm-debug.log
psysh/psysh_history
python/token.pickle
tests/files/omim_api/full_genemap2.txt
yarn-error.log

/.docker/mysql/db-init/*.sql.gz
.docker/mysql/db-init/testing-init.sql

# things that composer and related tools may drop in $HOME
/.config
/.bash_history
/.local
/.cache
/.notes-tj