@import "tailwindcss";
@import "@nuxt/ui";

@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active {
    @apply text-gray-500 underline;
}


body {
    @apply bg-gray-50;
    font-size: .9rem;
}

h1, h2, h3, h4, h5 {
    @apply font-semibold;
}

h1 {
    @apply text-2xl pb-2 mb-4 border-b;
    @apply print:mb-1 print:border-b-0;
}

h2{
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

hr {
    @apply my-4;
}

input[type=file]{
    @apply border-none p-0;
}

a[href]:not(.btn,.note,.custom-text) {
    @apply text-blue-500;
}
a[href]:not(.btn) {
    @apply hover:underline;
}

input,
select,
textarea {
    @apply border border-gray-300 px-2 py-1 rounded disabled:opacity-50 disabled:cursor-not-allowed;
}

p {
    @apply mb-2;
}

input.sm,
select.sm,
textarea.sm {
    @apply px-1 py-0.5 text-sm;
}

label {
    @apply flex space-x-2 items-center;
}

input[type="radio"],
input[type="checkbox"] {
  flex-grow: 0;
  flex-shrink: 0;
  color: #666;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1.1rem;
  height: 1.1rem;
  padding: 0;
  border: 0.125rem solid currentColor;
  display: grid;
  place-content: center;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
  content: "";
  flex-grow: 0;
  flex-shrink: 0;
  width: .55rem;
  height: .55rem;
  background-color: currentColor;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]::before {
    border-radius: 50%;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
        @apply text-blue-600;

}
input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before  {
    transform: scale(1);
}


blockquote{
    @apply border-l-4 ml-2 pl-2 mt-0;
    @apply print:border-l-0 print:ml-0 print:pl-0 print:mt-0;
    border-color: inherit;
}

table {
    @apply w-full;
}
thead > tr {
    @apply bg-gray-200;
}
tbody > tr {
    @apply bg-white odd:bg-gray-100 border-0 hover:border-blue-300 hover:bg-blue-100;
}
tr > th {
    @apply text-left border border-gray-300 px-3;
}
tr > td {
    @apply text-left p-1 px-3 border align-top;
}
th.sorted, td.sorted  {
    @apply bg-blue-100 hover:bg-blue-100;
}



.note {
    @apply text-xs text-gray-400;
}
.link {
    @apply text-blue-500 hover:underline;
}

.link.link-black {
    @apply text-black hover:underline;
}

.nav-item {
    @apply border-r-2 border-gray-400  pr-2 mr-2 align-middle;
}
.nav-item:last-child {
    @apply border-r-0;
}

.btn {
    @apply inline-block;
    @apply px-3 py-1 rounded border border-gray-300 focus:outline-none cursor-pointer;
    @apply bg-gradient-to-b from-white to-gray-100 hover:to-gray-200;
    @apply active:from-gray-200 active:to-gray-100;
    @apply disabled:opacity-60 disabled:cursor-not-allowed;

}

.btn-icon {
    @apply px-1.5 py-1;
}

.btn-icon-sm {
    @apply px-1 py-0.5;
}

.btn-icon-xs {
    @apply px-0.5 py-0;
}

.btn-xs {
    @apply text-xs px-2 py-0.5;
}

.btn-sm {
    @apply text-sm;
}

.btn-lg {
    @apply px-4 py-1.5 text-lg;
}

.btn-xl {
    @apply px-6 py-2 text-2xl;
}

.btn.gray {
    @apply text-gray-500 hover:text-gray-700;
    @apply border-gray-400;
    @apply bg-gradient-to-b from-gray-200 to-gray-300 hover:to-gray-400;
    @apply active:from-gray-300 active:to-gray-200;
}

.btn.blue {
    @apply text-white;
    @apply bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-700;
    @apply active:from-blue-600 to-blue-500;
    @apply border-blue-600;
}

.btn.red {
    @apply text-white;
    @apply bg-gradient-to-b from-red-500 to-red-600 hover:to-red-700;
    @apply active:from-red-600 to-red-500;
    @apply border-red-600;
}

.btn.light-red {
    @apply bg-gradient-to-b from-red-100 to-red-200 hover:to-red-300;
    @apply active:from-red-300 to-red-200;
    @apply border-red-800;
}


.alert-item {
    transition: transform 0.8s ease;
}

.well {
    @apply border border-gray-300 text-gray-600 bg-gray-200 rounded p-2;
}

.markdown {

}
.markdown a {
    @apply text-blue-500 underline;
}

.markdown p {
    @apply mb-2;
}

.markdown p:last-child {
    @apply mb-0;
}

.markdown ul {
    list-style: disc;
}

.markdown ol {
    list-style: decimal;
    @apply mb-2;
}

.markdown ul > li,
.markdown ol > li {
    @apply ml-4;
}

/* Transitions */
.fade-enter-active {
    transition: all 0.3s ease-out;
}

.fade-leave-active {
    transition: all 0.3s ease-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.fade-slide-down-enter-active,
.slide-fade-down-enter-active {
    transition: all 0.3s ease-out;
}

.fade-slide-down-leave-active,
.slide-fade-down-leave-active {
    transition: all 0.3s ease-out;
}

.fade-slide-down-enter-from,
.fade-slide-down-leave-to,
.slide-fade-down-enter-from,
.slide-fade-down-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.block-title {
    @apply pb-2 border-b mb-2;
}

.application-section {
    @apply pt-2 pb-6 border-b my-2;
}

.muted {
    @apply text-gray-400;
}

.dev-highlight {
    @apply border border-pink-500;
}

    .application-review section {
        @apply mt-6 bg-white p-4 border-b border-gray-200 bg-white;
        @apply print:mt-0 print:px-0 print:border-b-0;
    }

    .application-review .step-break {
        @apply border-t border-b font-bold text-center py-4 my-4 bg-gray-100 print:hidden;
        max-width: 800px;
    }
    .application-review section:first-child {
        @apply mt-0;
    }
    .application-review h2 {
        @apply mb-2 border-b pb-1;
        @apply print:border-b-0;
    }
    .application-review h3 {
        @apply mb-1;
    }
    @media print {
        .page-break {
            page-break-before: always;
        }
    }

    .screen-block-container {
        @apply bg-gray-100 p-4;
    }

    .screen-block {
        @apply bg-white p-4 border-b border-gray-200;
    }

