// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
@import "transitions";
// Bootstrap
@import 'bootstrap/scss/bootstrap';
.text-small {
    font-size: .8rem;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.cursor-pointer,
.crsr-pointer {
    cursor: pointer;
}

.brdr-btm {
    padding-bottom: .25em;
    border-bottom: solid 1px #aaa;
    margin-bottom: 1em;
}

.nav-link.active {
    background: $primary;
    color: white;
}

.table.table-small th,
.table.table-small td {
    font-size: .8rem;
    padding: .25rem;
    padding-left: .5rem;
}

.btn-help {
    @extend .btn;
    // @extend .btn-secondary; 
    // @extend .text-light;
    border: solid 1px;
    border-radius: 50%;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    line-height: 14px;
    margin-top: 0.3rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: bold;
    &:hover {
        transition: all .25s;
        @extend .btn-secondary;
        @extend .text-light;
    }
}

.table.table-xs {
    font-size: .8rem;
}

input.error,
select.error,
textarea.error {
    @extend .border-danger;
}

.error {
    label {
        @extend .text-danger
    }
    input,
    select,
    textarea {
        @extend .border-danger
    }
}

input[type=file].form-control {
    height: auto;
    padding: .5rem;
}

.modal-backdrop {
    opacity: .5;
}

.flex {
    display: flex;
}

.space-x-0>*+* {
    margin-right: calc(0px * var(0));
    margin-left: calc(0px);
}

.space-x-1>*+* {
    margin-right: calc(0.25rem);
    margin-left: calc(0.25rem);
}

.space-x-2>*+* {
    margin-right: calc(.5rem);
    margin-left: calc(.5rem);
}

.space-x-3>*+* {
    margin-right: calc(.75rem);
    margin-left: calc(.75rem);
}

// ENV color coding
@import './env.scss';